[hub]
        protocol = https
[user]
        name = Chris Seto
        email = chriskseto@gmail.com
[credential]
        helper = osxkeychain
[alias]
        m = machete
        st = status
        co = checkout
        ci = commit
        df = diff
        dfs = diff --staged
        br = branch --sort=-committerdate
        logg = log --graph --decorate --oneline --abbrev-commit --all
        unstage = reset HEAD --
        pr-msg = log HEAD...upstream/master --pretty=format:"**%s**%n%b"
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore_global
        editor = nvim
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to surpress warning message
        default = current
[pull]
	ff = only

[init]
	defaultBranch = master
