[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "vim/.vim/autoload"]
	path = vim/.vim/autoload
	url = https://github.com/junegunn/vim-plug
[submodule "nvim/.config/nvim/autoload"]
	path = nvim/.config/nvim/autoload
	url = https://github.com/junegunn/vim-plug
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts
