[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	pager = delta

[hub]
	protocol = https

[user]
	name = Chris Seto
	email = chriskseto@gmail.com

[credential]
	helper = osxkeychain

[alias]
	m = machete
	st = status
	co = checkout
	ci = commit
	df = diff
	dfs = diff --staged
	br = branch --sort=-committerdate
	logg = log --graph --decorate --oneline --abbrev-commit --all
	unstage = reset HEAD --
	pr-msg = log HEAD...upstream/master --pretty=format:"**%s**%n%b"
	diff-raw = -c pager.diff='less -R' diff
	pp = push-patch
	dft = difftool
	dlog = "-c diff.external=difft log -p --ext-diff"

[color]
	diff = auto
	status = auto
	branch = auto
	ui = true

[apply]
	whitespace = nowarn

[mergetool]
	keepBackup = false

[difftool]
	prompt = false
	colorMoved = default

[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"

[push]
	# See `git help config` (search for push.default)
	# for more information on different options of the below setting.
	#
	# Setting to git 2.0 default to surpress warning message
	default = current

[pull]
	ff = only

[init]
	defaultBranch = master

# Always use SSH for accessing CRL GitHub.
[url "git@github.com:cockroachdb"]
	insteadOf = https://github.com/cockroachdb

[url "git@github.com:chrisseto"]
	insteadOf = https://github.com/chrisseto

[url "git@github.com:cockroachlabs"]
	insteadOf = https://github.com/cockroachlabs

# Always use SSH for accessing RPD GitHub.
[url "git@github.com:redpanda-data"]
	insteadOf = https://github.com/redpanda-data

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	true-color = always

[merge]
	conflictstyle = diff3

[diff]
	tool = difftastic

[pager]
	difftool = true
